<div id="lists">
</div>
<div id="output"></div>

<script type="text/coffeescript">
$.getScript "https://api.trello.com/1/client.js?key=" + settings.key, ->
  Trello.authorize({ type: "popup", name: settings.applicationName }) if (!Trello.authorized())

  boardId = settings.boardId
  params = { key: settings.key }

  initList = ->
    $("#list").empty()
    Trello.boards.get boardId, $.extend(params, {lists: "open"}), (board) ->
      $("<h2/>").html("Lists of " + board.name).appendTo('#lists')

      for list in board.lists
        $("<div/>",
          class: "list"
          "data-id": list.id
          text: list.name
        ).appendTo "#lists"

      $(".list").click ->
        $("#output").html("loading....")
        $(this).addClass("active").siblings().removeClass("active")
        Trello.lists.get($(this).data("id"), cards: "open", (list) ->
          projects = {}

          for card in list.cards
            projectKeyTitle = card.name.match(/\{(.*)}/)[1]
            projects[projectKeyTitle] = []  unless projects[projectKeyTitle]
            projects[projectKeyTitle].push $.trim(card.name.replace(/\{.*\}|\(.*\)|\[.*\]/g, ""))

          $("#output").empty()
          for project of projects
            $("<h2 />",
              text: settings.i18n[project] or project
            ).appendTo "#output"

            for cardContent in projects[project]
              content = if cardContent.match(/解决|问题|修复|无效|错误/g) then "[解决] " + cardContent else "[完成] " + cardContent
              $("<div/>",
                text: content
              ).appendTo "#output"
        )
    , (error) ->
      alert error

  Trello.authorize
    interactive: false
    success: initList()
</script>
</html>