<div id="lists">
</div>
<div id="output"></div>

<script type="text/javascript" src="https://api.trello.com/1/client.js?key=9115435cc98b67a65c3a6dcff606cb09"></script>
<script type="text/coffeescript">

  Trello.authorize({ type: "popup", name: "autoTrello" }) if (!Trello.authorized())

  boardId = "KDFzTG2T"
  projectsTitles =
    "hh": "健康到家"
    "zbh": "闸北医疗"
    "ngb": "智慧闵行"
    "cam": "智能摄像头"

  initList = ->
    $("#list").empty()
    Trello.boards.get boardId, lists: "open", (board) ->
      for list in board.lists
        $("<div/>",
          class: "list"
          "data-id": list.id
          text: list.name
        ).appendTo "#lists"

      $(".list").click ->
        $("#output").empty()
        Trello.lists.get($(this).data("id"), cards: "open", (list) ->
          projects = {}

          for card in list.cards
            projectKeyTitle = card.name.match(/\{(.*)}/)[1]
            projects[projectKeyTitle] = []  unless projects[projectKeyTitle]
            projects[projectKeyTitle].push $.trim(card.name.replace(/\{.*\}|\(.*\)|\[.*\]/g, ""))

          for project of projects
            $("<h2 />",
              text: projectsTitles[project] or project
            ).appendTo "#output"

            for cardContent in projects[project]
              $("<div/>",
                text: cardContent
              ).appendTo "#output"
        )
    , (error) ->
      alert error

  Trello.authorize
    interactive: false
    success: initList()

</script>
</html>